.Header
    align-items: center
    color: $Blue
    font-weight: 300
    display: flex
    padding: 1rem

    > div:first-child
        font-weight: bold

        .top-name
            display: flex
        
            > span:last-child
                font-weight: 300
    
    > div:nth-child(2)
        margin-left: auto

        > span
            margin: 0rem 1rem
