.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }
 {
  font-display: swap;
  font-family: 'Raleway';
  font-weight: normal;
  src: url("https://storage.googleapis.com/purple-monkey/Raleway/Raleway-Regular.ttf") format('truetype');
  font-display: swap;
  font-family: 'Raleway';
  font-weight: 700;
  src: url("https://storage.googleapis.com/purple-monkey/Raleway/Raleway-Bold.ttf") format('truetype');
  font-display: swap;
  font-family: 'Raleway';
  font-weight: 300;
  src: url("https://storage.googleapis.com/purple-monkey/Raleway/Raleway-Light.ttf") format('truetype');
}
html {
  font-size: 100%;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  height: 100%;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  display: block;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}
img[data-src] {
  opacity: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2rem;
  letter-spacing: 1px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol,
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-margin-start: 0rem;
  -webkit-margin-end: 0rem;
  -webkit-margin-before: 0rem;
  -webkit-margin-after: 0rem;
}
input,
button,
select,
textarea {
  margin: 0;
  border-radius: 0;
}
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: 0;
}
.hidden {
  display: none !important;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.link {
  color: $HazyGreen;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.floating {
  border: none;
  background-color: $DarkGreen;
  border-radius: 2rem;
  color: #fff;
  font-size: 0.5rem;
  line-height: 2rem;
  height: 3rem;
  padding: 0rem;
  position: absolute;
  width: 3rem;
}
.side-by-side {
  align-items: center;
  display: flex;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.animate-in {
  animation: fadeIn 0.3s ease-in-out;
}
.animate-out {
  animation: fadeOut 0.3s ease-in-out;
}
.animate-in-slow {
  animation: fadeIn 3s ease-in-out;
}
.animate-out-slow {
  animation: fadeOut 3s ease-in-out;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.Header {
  align-items: center;
  color: #22679a;
  font-weight: 300;
  display: flex;
  padding: 1rem;
}
.Header > div:first-child {
  font-weight: bold;
}
.Header > div:first-child .top-name {
  display: flex;
}
.Header > div:first-child .top-name > span:last-child {
  font-weight: 300;
}
.Header > div:nth-child(2) {
  margin-left: auto;
}
.Header > div:nth-child(2) > span {
  margin: 0rem 1rem;
}
